body {
    text-align: left;
}

#index-body {
    text-align: left;
}

#login-body {
    text-align: center;
}

input {
    height: 1vh;
}


#signup-body {
    text-align: center;
}

h1 {
    margin-top: 5vh;
    font-size: 8vw;
    color: black;
}

h2 {
    margin-top: 2vh;
    font-size: 5vw;
    color: black;
}

.btn-large {
    width: 50vw;
    background-color: #3CA757;
    color: white;
}

.brand-logo center {
    color: white;
}

.nav {
    background-color: #3CA757;
}

.nav a {
    font-size: 7vw;
}

.sidenav {
    background-color: black;
    color: whitesmoke;
    text-align: center;
}

.sidenav li a {
    color: white;
}

.divideLogo {
    display: block;
    float: left;
    margin-left: 2vw;
    margin-top: 1vw;
    height: 0vh;
}

.user-view Background {
    text-align: center;
}

.Background-logo {
    text-align: center;
}


.userprofiel {
    margin-top: 20px;
    border-bottom: 200px solid black;
    height: 0;
    color: white;
    margin: 20px;
}

<<<<<<< HEAD .profielfoto {
    width: 90px;
    height: 90px;
    border-color: white;
    margin: 10px;
    background-color: white;
    border-radius:
}


======= > > > > > > > 98d81deae8bea80e097a02ddc1c16b5d86b4d7b5 .komendeEvents {
    padding: 20px;
}

form {
    padding: 5vw;
}

button {
    width: 20vw;
    background-color: #3CA757;
    color: white;
    padding: 5px;
}
